html {
  background-color: #000506;
  color: #eee;
  font-family: "Lora", serif;
}

h2 {
  font-size: 36px;
  font-family: "Cormorant Garamond", serif;
}

.con-main {
  /* max-width: 512px; */
  min-width: 512px;
  margin: 0 auto;
  text-align: center;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  .img-title {
    width: 320px;
  }

  .lbl-title {
    text-align: center;
  }

  .con-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .btn-nav {
    font-size: 18px;
    padding-top: 16px;
    font-family: "Lora", serif;
    width: 375px;
    height: 40px;
    border-radius: 12px;
    border: #eee solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.25s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
  .btn-nav:hover {
    cursor: pointer;
    background-color: rgba(85, 85, 85, 0.5);
    font-size: 20px;
  }
}

@media (orientation: portrait) {
  .img-title {
    width: 80%
  }

  .lbl-title {
    text-align: center;
    font-size: 72px;
  }

  .con-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .btn-nav {
    font-size: 38px;
    padding-top: 16px;
    font-family: "Lora", serif;
    width: 90%;
    height: 64px;
    border-radius: 12px;
    border: #eee solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.25s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
}