html {
  background-color: #dad0b0;
  font-family: "Lora", serif;
}

p {
  text-align: justify;
}

@media (orientation: landscape) {
  h2 {
    font-size: 36px;
    font-family: "Cormorant Garamond", serif;
  }

  .con-main {
    width: 1024px;
    margin: 0 auto;
  }

  .lbl-title {
    text-align: left;
  }

  .con-nav-links {
    display: flex;
    flex-direction: row;
  }
  .con-nav-links a {
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }
}

@media (orientation: portrait) {
  h2 {
    font-size: 72px;
    font-family: "Cormorant Garamond", serif;
  }

  p, li {
    font-size: 32px;
  }

  .con-main {
    width: 90%;
    margin: 0 auto;
  }

  .lbl-title {
    text-align: left;
  }

  .con-nav-links {
    display: flex;
    flex-direction: row;
  }
  .con-nav-links a {
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }
}