.img-map {
    width: 100%;
    margin-top: 24px;
}

h1 {
  /* font-size: 36px; */
  font-family: "Playfair Display", serif;
}

p {
    text-align: justify;
}

@media (orientation: portrait) {
  h1 {
    font-size: 48px;
    margin-left: 24px;
  }

  p {
    font-size: 36px;
    padding-left: 24px;
    padding-right: 24px;
  }
}