html {
  background-color: #000506;
  color: #eee;
  font-family: "Lora", serif;
}

h2 {
  font-size: 36px;
  font-family: "Cormorant Garamond", serif;
}

.con-main {
  max-width: 850px;
  min-width: 512px;
  margin: 0 auto;
  text-align: left;
  /* height: 90vh; */

  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

  padding: 32px;
}

.img-title {
  width: 320px;
}

.con-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

h3 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}

.con-section{
  display: flex;
  flex-direction: row;
}
.con-section h3 {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Lora", serif;
  width: 150px;
}
.con-section ul {
  margin-top: 0;
}

.con-list{
  display: flex;
  flex-direction: column;
}
.con-list h3 {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Lora", serif;
}

li {
  margin-top: 8px;
}

.lbl-sub {
  font-size: 24px;
  margin-bottom: 8px;
}